<div class="media-header">
<h3>Selected Media</h3>
</div>
<div class='existing-files clearfix' data-field="<?=$field?>">
  <input type="hidden" name="joins[<?=$field?>][0]" value="0" class='default_value_to_unset_join'>
  <?$existing_media = $model->$field?>
  <?foreach($existing_media as $i=>$media):?>
    <?=partial("admin/media/_existing_media",array('media'=>$media, 'field'=>$field, 'existing_media'=>$existing_media, 'extra_fields_view'=>$field_data->extra_fields_view))?>
  <?endforeach?>

  <script type="text/javascript" charset="utf-8">
    var file_tags = <?=json_encode($file_tags);?>;
  </script>
</div>