
<div class="edit_fields">
  <div class='embedded-media-listing raised' data-field="<?=($field = current(array_keys($fields)))?>" data-join-class="<?=$join_model_class?>" data-join-field="<?=$field?>" data-join-id="<?=$model->primval?>" data-new-join-url="/admin/media/_existing_media" data-action="/admin/media/embedded/?join_class=<?=$join_model_class?>&amp;join_field=<?=$field?>&amp;join_id=<?=$model->primval?>">


  </div>
</div>
<div class="meta_tabs embedded-media-attachements">
  <?=partial("admin/media/".($field_data->existing_media_list?$field_data->existing_media_list:"_existing_media_list"), array("field"=>$field, "field_data"=>$field_data, "file_tags"=>$file_tags, "media"=>$media, "model"=>$model))?>
</div>
