<input type="hidden" name="joins[<?=$field?>][<?=$media->primval?>][extra_fields][join_order]" value="<?=$media->join_order?>" class='join-order-field'>
<select name="joins[<?=$field?>][<?=$media->primval?>][extra_fields][tag]" class="media-type-selector">
<?foreach($file_tags as $j=>$tag):?>
  <option value="<?=$tag?>" id="tf_<?=$field?>_<?=$media->primval?>_<?=$j?>" <?if((!$media->tag && $j==0) || ($tag == $media->tag)):?> selected="selected"<?endif?>>
    <?=$tag?>
  </option>
<?endforeach?>
</select>
<div class='join_title'>
  <label>Edit File Title</label>
  <input type='text' name='joins[<?=$field?>][<?=$media->primval?>][extra_fields][title]' value='<?=$media->title?>' placeholder='caption'>
</div>
