<div class="edit_fields embedded-media-listing-holder media_view">
  <div class='embedded-media-listing raised' data-field="<?=($field = current(array_keys($fields)))?>" data-join-class="<?=$join_model_class?>" data-join-field="<?=$field?>" data-join-id="<?=$model->primval?>" data-new-join-url="/admin/media/_existing_media">
     <?=partial(($media_controller?$media_controller:"admin/media")."/embedded", array(
      "media_controller" => $media_controller,
      "join_class" => $join_model_class,
      "join_field" => $field,
      "join_id" => $model->primval,
      "embedded"=>isset($embedded)?$embedded:1))?>
  </div>
</div>
<?if(!$inline):?>
<div class="meta_tabs embedded-media-attachements">
  <?=partial("admin/media/".($field_data->existing_media_list?$field_data->existing_media_list:"_existing_media_list"), array("field"=>$field, "field_data"=>$field_data, "file_tags"=>$file_tags, "media"=>$media, "model"=>$model))?>
</div>
<?endif?>
