<div id="upload_indicator"></div>
<div id="upload_indicator_wrapper"></div>
<div 
  class='uploading_container' 
  id="main-upload-dialog" 
  data-allowed-check="/<?=trim($controller, "/")?>/file_check" 
  data-html5-action='/<?=trim($controller,"/")?>/upload/'
>

  <div class='data_info'>
    <div class="collection-name">
      <input type="text" name="category" value="" placeholder="Collection Name" class='category_tagging'>
      <a class="button collection-save" data-action="/<?=trim($controller,"/")?>/media_name/">Save</a>
    </div>
    <div class="in-progress-message">
      <p class='suggest-name'>Your upload is in progress, why not add a name to your collection?</p>
      <div class='progress progress-striped active'><div class="bar"></div></div><div class="progress-total">0%</div>
    </div>
    <div class="event-info" data-event-name=""></div>
    <div class="file-collection-name"></div>
    <div class='file-list drop-list clearfix'></div>
  </div>
  <a class="button finish-button">Finish</a>
  
</div>

<div class='uploading_container' id="old-upload-dialog">
  <div class="old_file_upoad_holder">
    <label for="old_file_upload">Choose a file</label>
    <input type="file" multiple id="old_file_upload" name="upload">
    <input type="submit" value="Upload">
  </div>
</div>