<div class='uploading_container'>
  <h3>Upload</h3>
  <div class='data_info'>
      <p><small>Enter a comma separated list of values to tag the files.</small></p>
      <input type="text" name="category" value="" placeholder="category" class='category_tagging'>
      <div class="old_file_upoad_holder">
        <label for="old_file_upload">Choose a file</label>
        <input type="file" multiple id="old_file_upload" name="upload">
        <input type="submit" value="Upload">
      </div>
      <div data-allowed-check="/<?=trim($controller, "/")?>/file_check" data-html5-action='/<?=trim($controller,"/")?>/upload/' class='drop-area clearfix'>
        <p><strong>DRAG &amp; DROP HERE TO UPLOAD</strong></p>
      </div>
      <div class='file-list drop-list clearfix'></div>

  </div>
</div>


<div id="wildfire_uploader">
  <!-- The file upload form used as target for the file upload widget -->
      <form id="fileupload" action="/admin/media/upload/" method="POST" enctype="multipart/form-data">          
          <!-- The loading indicator is shown during file processing -->
          <div class="fileupload-loading"></div>
          <br>
          
          <!-- The global progress information -->
          <div class="span5 fileupload-progress fade">
              <!-- The global progress bar -->
              <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                  <div class="bar" style="width:0%;"></div>
              </div>
              <!-- The extended global progress information -->
              <div class="progress-extended">&nbsp;</div>
          </div>
          
          <!-- The table listing the files available for upload/download -->
          <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
      
      </form>
</div>