.embedded-media-attachements {
  background:white;
  box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
}
.embedded-media-attachements .media-header {
  border-bottom:1px solid #DFDFDF;
}

.embedded-media-attachements .existing-files {
  padding:20px;
}
.embedded-media-attachements .joined-file {
  border-bottom:1px solid #DFDFDF;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.embedded-media-attachements .joined-media-info {
  float: left;
  width: 50%;
  padding: 0 10px;
}
.embedded-media-attachements .joined-media-info h4 {
  font-size:107%;
  word-wrap: break-word;
  margin: 0 18px 8px 0;
}
.embedded-media-attachements .media-listing-item {
  width: 50%;
  margin: 0;
}
.embedded-media-attachements .tag_operations {
  float:right;
  margin-top:-6px;
}
.embedded-media-attachements .tag_operations .remove-button {
  width:17px;
  visibility:hidden;
}
.embedded-media-attachements .tag_operations .remove-button:before {
  visibility:visible;
  border-radius:2px;
  background:#858585;
  content:"❌";
  width:20px;
  height:20px;
  display:block;
  color:#FFF;
  text-align:center;
  font-family:"Entypo";
  font-size:40px;
  font-weight:100;
  vertical-align:middle;
  line-height:20px;
}
.embedded-media-attachements .tag_operations .remove-button:hover:before {
  background:#222;
}
.embedded-media-attachements button.btn {
  margin:5px 0;
}
.embedded-media-attachements .media-type-selector, .embedded-media-attachements .media-type-selector .btn, .embedded-media-attachements input[type=text] {
  width: 100%;
  min-width:0;
}
.embedded-media-attachements .media-type-selector a {
  text-decoration:none;
  text-transform:capitalize;
}
.embedded-media-attachements .media-type-selector .dropdown-toggle {
  text-transform:capitalize;  
}
.embedded-media-attachements .join_title {
  margin:10px 0 0 0;
}
.embedded-media-attachements .join_title label {
  display:block;
  font-size:93%;
  margin:3px 0;
}