body.fu-dragover {
  box-shadow: inset 0 0 15px 15px rgba(0,0,0,0.7);
}
body.fu-dragover #upload_indicator {
  position:absolute;
  top:0;
  left:0;
  z-index:9999;
  border:7px dashed #FFF;
  width:98%;
  height:98%;
  background:rgba(0,0,0,0.2);
}