<div class="media-filter-block">
  <form>
    <div class="search-filter">
      <a class="button search-submit" href="#">Search</a>
      <b class='icon-search'></b>
      <input type="text" class="input_field text_field" name="filters[text]" placeholder="Search media by file name" value="<?=$search_filter?>">
    </div> 
    <div class="collection-filter">
      <select name="collection_filter" id="collection_filter" data-value="all" data-placeholder="Show All Collections" class="collection-dropdown">
        <option></option>
        <?foreach(WildfireMedia::get_collections() as $collection):?>
          <?if($collection->event_name):?>
            <option value="<?=$collection->event_name?>"><?=$collection->event_name?></option>
          <?endif?>
        <?endforeach?>
      </select>
    </div>
    <div class="view-switch">
      <a href="#" class="date-view-switch" data-mode='<?=$mode?>'><b class="icon-time" title="Switch To Date View"></b></a>
    </div>
    <div class="divider"></div>
  </form>
  
</div>