<div class="media-filter-block">
  <form>
    <div class="search-filter">
      <input type="text" class="input_field text_field" value="" name="filters[text]" placeholder="Search media by file or collection name">
      <b class='icon-search'></b>
    </div> 
    <div class="collection-filter">
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" role="button">
          <span class='collection' data-value="all">Choose Collection</span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="#" data-value="all">Show All</a></li>
          <?foreach(WildfireMedia::get_collections() as $collection):?>
            <?if($collection->event_name):?>
              <li><a href="#" data-value="<?=$collection->event_name?>"><?=$collection->event_name?></a></li>
            <?endif?>
          <?endforeach?>
        </ul>
      </div>
    </div>
    <div class="view-switch">
      <a href="#" class="date-view-switch" data-mode='standard'><b class="icon-time" title="Switch To Date View"></b></a>
    </div>
    <div class="divider"></div>
  </form>
  
</div>