<?$permissions = $current_user->permissions($operation_actions, $module_name);?>
<div class="media-listing-container" data-overall-total="<?=$overall_total?>">
  <?if($mode == "time"):?><?$current = false?><?endif?>
  <?foreach($cms_content as $media):?>
    <?if($mode == "time" && !$current):?>
      <?$current = $media->month?>
      <div class="date-marker"><h4><?=$media->month?> <?=$media->year?></h4></div>
    <?endif?>
    <div class="media-listing-item">
      <div class="media-operations">
        <?=partial("_operations", array("current_user"=>$current_user,"permissions"=>$permissions, "controller"=>$controller, "action"=>$action, "row"=>$media, 'operation_actions'=>$operation_actions))?>
      </div>
      <?=$media->render(172)?>
    </div>
    <?if($mode == "time" && $media->month != $current):?>
      <div class="date-marker"><h4><?=$media->month?> <?=$media->year?></h4></div>
    <?endif?>
    <?if($mode == "time"):?><?$current = $media->month?><?endif?>
  <?endforeach?>
  <div class="page-marker" data-current-page="<?=$cms_content->current_page?>" data-total-pages="<?=$cms_content->total_pages?>">
</div>