<?
  $permissions = $current_user->permissions($operation_actions, $module_name);
  if($existing_media && $existing_media->count()){
    $joined_ids = array();
    foreach($existing_media as $m) $joined_ids[] = $m->primval;
  }elseif($existing_media) $joined_ids = true;

?>
<div class="media-listing-container" data-overall-total="<?=$overall_total?>">
  <?if($mode == "time"):?><?$current = false?><?endif?>
  <?foreach($cms_content as $media):?>
    <?$operation_actions = $media->get_operations($permissions,$joined_ids);
    ?>
    <?if($mode == "time" && !$current):?>
      <?$current = $media->month?>
      <div class="date-marker"><h4><?=$media->month?> <?=$media->year?></h4></div>
    <?endif?>
    <div id="row_<?=$media->primval?>" class="media-listing-item <?if(in_array($media->primval,$joined_ids)) echo 'joined-to-model'?>" data-primval="<?=$media->primval()?>">
      <div class="media-operations">
        <?=partial("_operations", array("current_user"=>$current_user, "controller"=>$controller, "action"=>$action, "row"=>$media, 'operation_actions'=>array(), 'permissions'=>$operation_actions))?>
      </div>
      <?=$media->render(172)?>
    </div>
    <?if($mode == "time" && $media->month != $current):?>
      <div class="date-marker"><h4><?=$media->month?> <?=$media->year?></h4></div>
    <?endif?>
    <?if($mode == "time"):?><?$current = $media->month?><?endif?>
  <?endforeach?>
  <div class="page-marker media-listing-item" data-current-page="<?=$cms_content->current_page?>" data-total-pages="<?=$cms_content->total_pages?>">
</div>